.cell {
  border: 1px solid #7afbe4;
  width: 100px;
  height: 100px; }

.empty-cell {
  background-color: #aeeaf0; }

.nought-cell {
  background-color: #3e69ff; }

.cross-cell {
  background-color: #e5ed4f; }
