@import "../../general-styles/variables";

#grid-wrapper {
    overflow: hidden;
    height: calc(100% - #{$control-panel-height});
}

#grid {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
