@import "../../../general-styles/variables";

.cell {
    margin: 0;
    padding: 0;
    vertical-align: top;
    min-width: 3vmin;
    min-height: 3vmin;

    border: 2px solid #fff;
    font-size: 3vmin;
    line-height: 3vmin;

    &.win-cell{
        background-color: #dcffdc;
        color: #02a771;
    }

    &:focus {
        outline-offset: -4px;
    }
}

.empty-cell {
    background-color: #e5f3f5;
}
