@import "../../general-styles/variables";

#control-panel {
    box-sizing: border-box;
    margin-top: $control-panel-margin-top;
    text-align: center;
}

.control-line {
    margin-bottom: 0.7em;
    text-align: left;

    .control-panel-label {
        margin-right: 2em;
    }

    &.blocked {
        cursor: not-allowed;

        * {
            color: $disabled-input-color;
        }

        .control-panel-input {
            border-color: $disabled-input-color;
            pointer-events: none;

            &:-internal-autofill-selected {
                color: #cfcfcf !important;
                background-color: #ffffff !important;
            }
        }
    }
}

/* Override Chrome native styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-internal-autofill-selected  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: $disabled-input-color !important;
}

.control-panel-input {
    box-sizing: border-box;
    height: 2em;

    border-radius: $input-radius;
    border: 1px solid #bababa;

    font-size: 1em;
}

#dimension-input {
    padding: 0 $input-radius;
    width: 4em;
}

#win-combination-length {
    vertical-align: middle;
}